includes:
    - vendor/prikotov/coding-standard/phpstan-rules.neon

parameters:
    level: 8
    paths:
        - src/
        - apps/console/src/
    excludePaths:
        - */migrations/*
    reportUnmatchedIgnoredErrors: false
